@import './_variables.scss';
@import './_mixins.scss';

.country-details {
  padding: 15px;
  background-color: $color-section-bg;
  border: 1px solid $color-card-border;
  @include box-shadow($color-card-border);

  .country-name {
    font-size: 20px;
    color: $color-primary-heading;
  }

  .country-info {
    color: $color-text;
  }
}
