/* src/styles/EpisodeList.scss */
@import './variables';
.episode-list {
  padding: 20px; /* Adds padding around the entire list */
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  // background: $color-section-bg;
    .filters {
      margin-bottom: 20px;
      select {
        padding: 10px;
        background-color: #00b5cc;
        color: #fff;
        border: none;
        font-size: 16px;
        border-radius: 5px; 
      }
    }
    .episode-card {
      font-family: 'Orbitron', sans-serif;
      background-color: $color-section-bg;
      color: #fff;
      padding: 15px;
      margin-bottom: 10px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      justify-content: center;
      max-width: 2000px; /* Set a maximum width for each card */
      // justify-content: center; 
      // align-items: center; 
    }
  }

