.card {
    width: 100%;
    max-width: 300px; /* Adjust width as needed */
    margin: 0 auto;
    background: #8A2BE2;
    border: 1px solid #8A2BE2;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box; /* Ensures padding is included in width/height */
    color: #fff;
  
    .card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    h3 {
      margin: 0;
    }
  
    p {
      margin: 5px 0;
    }
  }
  