@import './_variables.scss';
@import './_mixins.scss';

.header {
  background-color: $color-navbar;
  padding: 20px;
  text-align: center;
  
  .header-title {
    font-size: 24px;
    color: $color-primary-heading;
    font-family: $font-secondary;
  }
}
