/* src/styles/LocationList.scss */
.location-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust min-width for larger cards */
  gap: 20px; /* Adds space between the cards */
  padding: 20px; /* Adds padding around the entire list */
  text-align: center;
  background: $color-section-bg;
    .filters {
      margin-bottom: 20px;
      select {
        padding: 10px;
        background-color: #00b5cc;
        color: #fff;
        border: none;
        font-size: 16px;
      }
    }
    .location-card {
      background-color: #8A2BE2;
      color: #fff;
      padding: 15px;
      margin-bottom: 10px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
  }
  